
.flex-container {
 display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
justify-content: center;}

.flex-container > div {
  background-color: teal;
  padding: 5px;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin:2%;
  width: 25%;
  border-radius: 25px;
}

h1 {
  display: flex;
  width: 100%;
  margin-left:10px;
}
p {
  text-align: center;
  padding: 30px;
}
h3 {
font-weight: normal;
margin-top:0
}